@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&family=Sono:wght@300;400;700&display=swap');


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: "Roboto", sans-serif;
}

.menu{
    display: flex;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid #ACACAC;
    background: white;
    top: 0;
    position: fixed;
    z-index: 1;
}
.menu_items{
    display: flex;
}
.menu_item{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #474A4E;
}
.menu_button{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 28px;
    margin-top: 24px;
}
.menu_button img{
    display: block;
    width: 86px;
    height: 5px;
    position: absolute;
    bottom: -1px;
}

.menu__togle-square{
    width: 64px;
    height: 32px;
    background-color: #F0F0F0;
    border: 1px solid #ACACAC;
    border-radius: 20px;
    margin-left: 397px;
    margin-top: 19px;
}
.menu__togle{
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background-color: #AAAAAA;
    margin-left: 7px;
    margin-top: 6px;
    cursor: pointer;
}

#main #profile #materials #exersise{
    font-weight: 400;
    transition: 1s;
}
#main_1{
    opacity: 0;
    transition: 1s;
}
#main_1 img{
    width: 76px;
}
#profile_1{
    opacity: 0;
    transition: 1s;
}
#materials_1{
    opacity: 0;
    transition: 1s;
}
#materials_1 img{
    width: 108px;
}
#panel_1{
    opacity: 0;
    transition: 1s;
}
#panel_1 img{
    width: 186px;
}
#exersise_1{
    opacity: 0;
    transition: 1s;
}
#exersise_1 img{
    width: 80px;
}
.menu_image{
    margin: 16px 66px 14px 41px;
}
@media (max-width: 740px){
    .menu_item{
        font-size: calc(14px + 6*((100vw - 320px)/(740 - 320)));
    }
    .menu{
        height: calc(50px + 10*((100vw - 320px)/(740 - 320)));
    }
    .menu_button{
        margin-left: 10px;
        margin-top: 18px;
    }
    .menu_image img{
        height: calc(20px + 19*((100vw - 320px)/(740 - 320)));
    }
    .menu_image{
        margin: 16px calc(10px + 56*((100vw - 320px)/(740 - 320))) 14px calc(10px + 31*((100vw - 320px)/(740 - 320)));
    }
    #main_1 img{
        width: calc(53px + 22*((100vw - 320px)/(740 - 320)));
        height: calc(4px + 1*((100vw - 320px)/(740 - 320)));
    }
    #profile_1 img{
        width: calc(60px + 26*((100vw - 320px)/(740 - 320)));
        height: calc(4px + 1*((100vw - 320px)/(740 - 320)));
    }
    #materials_1 img{
        width: calc(75px + 33*((100vw - 320px)/(740 - 320)));
        height: calc(4px + 1*((100vw - 320px)/(740 - 320)));
    }
}
@media (max-width: 510px){
    .menu_items{
        display: none;
    }
}
#profile:hover ~ #profile_1{
    opacity: 1;
    transition: 1s;
}
#profile:hover{
    font-weight: 500;
    transition: 1s;
}
#main:hover ~ #main_1{
    opacity: 1;
    transition: 1s;
}
#main:hover{
    font-weight: 500;
    transition: 1s;
}
#materials:hover ~ #materials_1{
    opacity: 1;
    transition: 1s;
}
#materials:hover{
    font-weight: 500;
    transition: 1s;
}
#exersise:hover ~ #exersise_1{
    opacity: 1;
    transition: 1s;
}
#exersise:hover{
    font-weight: 500;
    transition: 1s;
}
#panel:hover ~ #panel_1{
    opacity: 1;
    transition: 1s;
}
#panel:hover{
    font-weight: 500;
    transition: 1s;
}

.container{
    padding-top: 69px;
    display: flex;
    opacity: 0.99;
}
.menu_admin{
    height: 990px;
    width: 215px;
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    color: #474A4E;
}
.menu_admin div{
    height: 63px;
    border-bottom: 1px solid #ACACAC;
    font-size: 20px;
}
.menu_ad_item{
    padding: 20px 0 0 13px;
}
.materials{
    background: #F0F0F0;
    font-weight: 700;
}
.menu_ad_item a{
    color: #474A4E;
}

.content{
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
}

.content__container{
    width: 1143px;
    margin: 0 auto;
}

.content__title-main{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;

}

.content__action{
    background-color: #EEEEEE;
    margin-top: 18px;
    border-radius: 10px;
}

.content__action-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content__action-horizontal{
    display: flex;
    margin-top: 37px;
    flex-wrap: wrap;
}

.content__name{
    width: 238px;
    height: 44px;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
    margin-left: 23px;
}

.content__select{
    width: 263px;
    height: 44px;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
    margin-left: 32px;
    color: #474A4E;
    display: flex;
    align-items: center;
}

.content__select-input{
    height: 35px;
    width: 35px;
    background-image: url('../../../../assets/expand.svg');
    margin-left: 43px;

}

.content__select-input-choice {
    height: 35px;
    width: 35px;
	z-index: 1;
	opacity: 0;
	display: block;

}
.content_materials_btn{
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.content__file{
    margin-top: 27px;
    max-width: 1079px;
    height: 333px;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-left: 26px;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.44px;
    padding-top: 34px;
    padding-left: 35px;
}
.btn{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.content_download_el{
	display: flex;
	align-items:center;

}
.content_download_tit{
	font-size: 20px;
	font-family: "Roboto";
}
.content__file-download{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 25px;
		margin-right: 5px;
	display: inline-block;
    bottom: 58%;
    right: 75%;
}

.content__file-download input[type=file] {

	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;

}

.content__file-plus{

    font-size: 36px;
    font-weight: 300;

    padding-left: 8px;
    margin-top: -30px;
    top: 30px;
}

.content__button{
    width: 155px;
    height: 53px;

    background-color: #D9D9D9;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: #474A4E;
    text-align: left;
    padding-left: 12px;
}

.content__materials{
    display: flex;
    flex-direction: column;
}

.content__first-block{
    display: flex;

    justify-content:flex-start;
}

.content__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 35px;
}

.content__search{
    width: 342px;
    height: 50px;
    border-radius: 31px;
    background-color: #D9D9D9;
    margin-left: 464px;
    margin-top: 33px;
    background-image: url('../../../../assets/loop.svg');
    background-repeat: no-repeat;
    background-position: 294px 13px;
    padding-left: 20px;
    font-size: 16px;
}

.content__second_block{
display: flex;
}

.content__article{
    border: 1px solid #ACACAC;
    border-radius: 11px;
    width: 444px;
    height: 202px;
    margin-top: 34px;
    margin-right: 50px;
}

.content__article-2{
    border: 1px solid #ACACAC;
    border-radius: 11px;
    width: 444px;
    height: 202px;
    margin-left: 50px;
    margin-top: 34px;
}

.content__article-row{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 23px;
}

.content__article-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
}

.content__article-descript{
    font-size: 24px;
    font-weight: 300;
    line-height: 28.13px;
    margin-top: 19px;
}

.content__article-elems{
    display: flex;
    margin-top: 39px;
    margin-left: 182px;
}

.content__elem:nth-child(1){
    width: 39px;
    height: 39px;
    background-image: url('../../../../assets/edit.svg');
    cursor: pointer;
}
.content__elem:nth-child(2){
    width: 39px;
    height: 39px;
    background-image: url('../../../../assets/delete.svg');
    margin-left: 39px;
    cursor: pointer;
}
.content__elem:nth-child(3){
    width: 39px;
    height: 39px;
    background-image: url('../../../../assets/arrowBtn.svg');
    margin-left: 39px;
    cursor: pointer;
}